* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.container {
    background-color: #d2fdff99;
}
.header {
    font-size: 20px;
    margin: 5px;
}
.upcomingFriend {
    background-color: #b4dfe5;
}

.addBtn {
  background-color: #303c6c;
  border: 0;
  border-radius: .5rem;
  box-sizing: border-box;
  color: #fff;
  font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: .875rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: .5rem 1rem;
  text-align: center;
  text-decoration: none #D1D5DB solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.addBtn:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.addBtn:focus-visible {
  box-shadow: none;
}

/* {
    #fbe8a6
    #f4976c
    #303c6c
    #b4dfe5
    #d2fdff
    
} */